[2020-04-24 03:23] tleonard6 opened #1 "MAJCOM Summary Report Modification"
- [x]  Add a column for cumulative cases for each installation (quick add)

- [x]  Add a third csv download that has the same information as the installation csv, but specific to the actual/single county where the base is located

[2020-04-24 03:25] tleonard6 opened #2 "Filtering Option"
At some point would like to filter either by MAJCOM or by Wing.  If Wing is selected, will then populate one additional filter by Group. I have a list of all of the wings/groups that i'll include

[2020-04-24 12:15] jeff-henderson opened #3 "Add Confidence Interval to Estimated Bed Capacity"
**Is your feature request related to a problem? Please describe.**
Recommend adding a confidence interval to the Estimated Covid Patient Bed Capacity red line within the Local Health Projections tab.  Displaying a shaded confidence interval region would make it more clear to users that this is an estimate.  This seems to be an area of interest for analysts and non-technical users alike.

**Describ

[2020-04-24 15:05] ajkeith opened #4 "Add a legend to the MAJCOM summary map"
**Is your feature request related to a problem? Please describe.**
Mr. Swallow requested we add a legend that explains the size of the dot in addition to the color (which currently displays only when there are red & green dots together). Can we make the legend display unconditionally and add the description of what the size of the dot represents?

**Additional context**
Discussion from old issue:

[2020-04-24 15:08] ajkeith opened #5 "MAJCOM summary hotspot chart filter"
**Describe the bug**
Bug exists when sidebar MAJCOM filter selects any of the below bases, hot spot chart throws an error or displays no bases. This might be due to the way the cases are being counted, or filters placed on the chart.

AFSOC
PACAF
UASFA
HQ

**Additional context**
Issue ported from old repo.

[2020-04-24 15:08] ajkeith commented on #5
@SpencerButt I assigned to you based on your comment in the old repo

[2020-04-24 15:09] ajkeith opened #6 "MAJCOM summary hotspot axis scaling"
**Is your feature request related to a problem? Please describe.**
Hot Spot chart on MAJCOM Summary tab needs fixed axis on the y-scale along with fixed scaling bounds on the bubble size and color. This is so when the filter for MAJCOM is changed, a large red bubble will correspond to the scale among all bases as opposed to just among the filtered bases. Allows for proper visual comparison when fi

[2020-04-24 15:10] ajkeith opened #7 "Getting started/info tab"
**Is your feature request related to a problem? Please describe.**
Need a design mockup/idea for possible construction of a new tab. The new tab would be the first tab seen when the app loads up. The tab could contain overview information, how to get started, and links to further documentation (could be Github write ups).

**Additional context**
Ported from old repo.

[2020-04-24 15:12] ajkeith opened #8 "User Documentation: How to use and interpret CHAD"
**Is your feature request related to a problem? Please describe.**
Need new documentation to help show users how to use the features of CHAD and also how one should interpret what the metrics and charts are displaying. This can be documentation shown on a tab, written in markdown and displayed on the Github repo, added to the more information section on the app, etc.

**Additional context**
Ported

[2020-04-24 15:14] ajkeith opened #9 "Integrate AMC model"
**Is your feature request related to a problem? Please describe.**
Integrate AMC SIR Infection model into overlay plots. Parse out cumulative deaths, cumulative infections, and daily infections. Estimate hospitalization burden from infection number and hospitalization rates

**Additional context**
Issue ported from old repo.

Alarcon: It's been copied into the server on line 294-372 called output$

[2020-04-24 15:15] ajkeith opened #10 "Add R_t for variable R values over time by county"
**Is your feature request related to a problem? Please describe.**

R<sub>t</sub> is the initial reproduction number R<sub>0</sub> over time. When this number falls below 1, it indicates the spread of the virus is decreasing. This number can be very beneficial as an indicator for different regions.

http://systrom.com/blog/the-metric-we-need-to-manage-covid-19/

**Describe the solution you'd like*

[2020-04-24 15:16] ajkeith commented on #10
@mattburzenski : https://rt.live/
https://github.com/k-sys/covid-19/blob/master/Realtime%20R0.ipynb
The base code is in Python and the math looks pretty intense, but he's a breakdown of how Rt can be calculated and applied at the State level.

@SlicedBadge: I think I can follow this math and code (after brushing off some cobwebs). I am intrigued and may try to implement at the county level. One is

[2020-04-24 15:17] ajkeith commented on #10
@SlicedBadge I assigned to you since it sounds like you've started work on this but feel free to unassign (and others feel free to add yourselves and help out)

[2020-04-24 15:18] ajkeith opened #11 "Add filter for MAJCOM summary report"
**Is your feature request related to a problem? Please describe.**
Need additional filter label for Majcom summary for 16AF. This might be an issue since bases will have a dual label between traditional majcom and 16AF. Might need a separate column label in the dataframe stating 16AF or not. This is necessary for the overseas bases

**Additional context**
Issue ported from old repo.

[2020-04-24 15:20] ajkeith opened #12 "Add additional models to hurricane projection"
**Is your feature request related to a problem? Please describe.**
Add a wider variety of models.

**Describe alternatives you've considered**
Currently adding in Columbia University Model and Los Alamos National Laboratory Models. Should be ready to push very soon.

**Additional context**
Issue ported from old repo.

@tleonard6: @galarcon0308 This is done and pushed, now includes 4 models and mul

[2020-04-24 15:21] ajkeith commented on #12
Thanks to great work by @tleonard6 and @galarcon0308 this is live at https://covid19dash.shinyapps.io/CHAD-Test/

[2020-04-24 15:22] ajkeith opened #13 "Add detailed county info"
Items 1-3 are immediate items, 4 is additional when there is time
1.  Add in  1, 3, 5, 7 and 14 day case increase rates.
Rationale/Intent:  provides better picture of the trend (trending up or trending down)
2.  Add in weekly rate of change in case count (graph of how the growth in cases is changing over time).
Rationale/Intent:  Would like to see if the speed of the case increase is slowing down

[2020-04-24 15:24] ajkeith opened #14 "Installations in large counties don't properly display data/projections"
**Describe the bug**
When the installation is located in a large county, the standard 50 mile radius does not always include the county in which the installation exists.  This leads to inaccurate current local health data/local health projections

**To Reproduce**
Steps to reproduce the behavior:
See Edwards or DM.  Current local health projections are inaccurate/incomplete until the user scales o

[2020-04-24 15:25] ajkeith opened #15 "Add overseas locations"
**Is your feature request related to a problem? Please describe.**
Urgent need to include Overseas locations ASAP

**Additional context**
Issue ported from old repo.

[2020-04-24 15:27] ajkeith opened #16 "Add more information to MAJCOM Summary Full Data Set"
**Is your feature request related to a problem? Please describe.**
Request adding a column in the Download for the Full Data Set to include the Total Reported Case Count as well as an indication somewhere on the MAJCOM summary as to the Radius from the base the data is displaying

**Additional context**
Issue ported from old repo,

@galarcon0308: Yup, for quick SA the radius is 50 miles. We can ge

[2020-04-24 15:34] ajkeith opened #17 "Missing data"
**Describe the bug**
"We continue to have issues with the data; it is often missing days of data for some bases, and when data is missing all model predictions are unavailable.  At times we have filled those gaps and created our own graphs when that happens." from Mr. McKelvey on 22 Apr

**Additional context**
Issue added from email, @himey97, please feel free to elaborate.

[2020-04-24 15:36] ajkeith commented on #3
I think this would help address comments we received from Mr. McKelvey on 22 Apr: "The hospitalization data is not accurate and only a calculated estimation (e.g. assumes certain percentage of non-COVID patients)" @himey97, please let us know if this doesn't address the problem.

[2020-04-24 15:37] ajkeith opened #18 "Extend projection period beyond 30 days"
**Describe the solution you'd like**
"A9 decided to limit the forecasting timeline to reduce the difference from what we actually expect to see, but I think that kind of hides the issue.  Our approach is to present the CHAD forecast as “potential outbreak” rather than a prediction of what is to come.  With that being said, we would like to be able  to project past 30 days to see the “potential” pe

[2020-04-24 15:37] Auburngrads commented on #10
I'm happy to work this.  Including Python would be easy enough through the `reticulate` package, but I'm concerned with getting all of the resources to the server where the app will be hosted.

Implementing at the county level we need to think this through - doing Bayesian updating for N counties may be computationally expensive.  There are a few options:

1. Use `reticulate` to write an R functio

[2020-04-24 15:39] ajkeith commented on #18
The projections previously showed low uncertainty far into the future where the single-peaked models generally project low hospitalizations and deaths. However, we know that the single-peaked models we have are a subset of possible futures and that there are credible models with a much larger range of uncertainty out into the future. Even the multi-peak and trigger-based mitigation models understa

[2020-04-24 15:41] ajkeith opened #19 "Improve the utility of the display"
**Is your feature request related to a problem? Please describe.**
"I’ll reiterate the limited / no utility of the display.  Having that customizable would be helpful" from Mr. McKelvey via email on 22 Apr.

**Describe the solution you'd like**
@himey97 can you provide more details on the additional features desired for the display?

[2020-04-24 16:39] SlicedBadge commented on #10
@Auburngrads I began working this at https://github.com/SlicedBadge/covid-19 (haven't pushed anything up yet). I may be out of my league if I need to recode to speed things up, but for now I am just taking their python code and adding documentation/tailoring to county level calculations. Since this would only need to be calculated once a day, calculation speed may not be an issue.

[2020-04-24 16:53] Auburngrads commented on #10
Okay, got it.

Are you thinking that the app would download the updated dataset each day?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Riv Jenkins <notifications@github.com>
Sent: Friday, April 24, 2020 12:39:37 PM
To: CHAD-Analytics/CHAD <CHAD@noreply.github.com>
Cc: Jason Freels <Auburngrads@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [

[2020-04-24 17:00] SlicedBadge commented on #10
Yes, Rt would only need to be updated each day (or probably only every couple of days). The Rts for each county can then just be read in by CHAD through a flat file. Eventually if the code is fast enough, this could be done on the fly, but for IOC I don't think it is necessary.

[2020-04-24 17:01] weirj1 opened #20 "Ability to select and deselect counties in Current Local Health"
Dr Giddings indicated the ability to add or delete counties from the Local health would be useful for leaders to determine what counties to include vice just a radius.

I will look at this, perhaps grayed out ares not being included (out to 100) miles and then color them if selected.

[2020-04-24 17:12] tleonard6 commented on #18
@ajkeith I think once we begin to include multi-peak and/or trigger based models we should have a separate slider/selection for that plot that extends 30/60/90/120 days to see the potential fluctuations.

[2020-04-24 17:18] tleonard6 commented on #12
Still looking at a couple additional models to add very soon.

[2020-04-24 20:49] ajkeith commented on #18
@tleonard6 I think that's reasonable.

In the AFAC meeting today Dr. Giddings also suggested the possibility of letting certain customers (SG, A9s) have the ability to extend the timeframe as well. Not sure how we would go about implementing that but I see the utility.

[2020-04-24 20:50] ajkeith commented on #12
Wow awesome.

[2020-04-24 20:53] tleonard6 commented on #18
@ajkeith Having customized access would be great, but not sure about implementation.  If we get our own server, we could in theory have multiple CHAD instances instead...

[2020-04-25 15:08] weirj1 opened #21 "Dynamic Sidebar"
The side bar is very busy and not clear what to use when.  A dynamic sidebar might make it easier to use.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

See this dynamic sidebar version of CHAD.

https://covid19dash.shinyapps.io/DynamicSidebar/

[2020-04-25 16:06] tleonard6 commented on #21
@weirj1 This is great, please push to master when you have the chance.

[2020-04-26 13:56] weirj1 commented on #21
Pushed

[2020-04-26 13:56] #21 closed, assigned to nobody

[2020-04-26 23:07] galarcon0308 commented on #9
Non-FOUO version added

[2020-04-26 23:07] #9 closed, assigned to LukeBrantley, galarcon0308

[2020-04-27 00:30] galarcon0308 commented on #17
I believe this has already been resolved. Partial issue was with negative daily cases (this was fixed) but the larger issue I think was with certain bases (like DM) being further than 50 miles from the centroid of their county, therefore registering no counties in range and no data. I haven't been able to replicate this issue since. Will need more information from the user on actual bases and dist

[2020-04-27 02:29] #17 closed, assigned to galarcon0308

[2020-04-27 03:22] tleonard6 commented on #12
Leaving this open. Added University of Texas model projections.  Looking at several others.

[2020-04-27 08:05] Auburngrads commented on #19
What exactly does this mean? In Mr. McKelvey's opinion what would provide utility?

[2020-04-27 08:21] Auburngrads commented on #7
Another option could be to use the `rintrojs` package as a way to introduce the features of the app

Check the demo [**here**](https://introjs.com/)

[2020-04-27 08:40] Auburngrads commented on #11
Is this different from #2 ?

[2020-04-27 10:42] ajkeith commented on #11
@Auburngrads I think you're right, I'll close this one

[2020-04-27 10:42] #11 closed, assigned to tleonard6

[2020-04-27 13:03] himey97 commented on #19
I'm not sure this really should have been logged as an issue.   We have a requirement to build slides for the COMACC CAT briefing.   We're leveraging the CHAD tool as much as possible.  In the slide building process we "enhance" the pictures and fonts to make them more presentable. The comment was meant to communicate the CHAD tool presents it's results in one way graphically that you accept as is

[2020-04-27 14:25] mattburzenski commented on #6
working this now

[2020-04-27 14:29] ajkeith commented on #6
@courtneylknoth, I think you were looking at this too?

[2020-04-27 14:32] courtneylknoth commented on #6
Yes - I was and I just gave the fix to Matt to incorporate with some of his other updates.

[2020-04-27 16:24] acady14 opened #22 "Documentation for AMC projection"
we have some documentation that we'd like to add in to the AMC projection section -- what is the best way to do so?  we can either give a short markdown file that gives you the highlights or a PDF of a longer report.

[2020-04-27 16:33] ajkeith commented on #22
I think the fastest way to update would be updating/replacing the markdown at https://github.com/CHAD-Analytics/CHAD/blob/master/covid19/www/6_load_info_docs/AMC_Desc.md

[2020-04-27 16:38] galarcon0308 commented on #22
I'll echo what @ajkeith said. Probably a short markdown with the highlights. Feel free to edit the markdown posted above. That file controls what is seen next to the chart on the tab. The longer report would still be necessary if you all have it, and we can put it in a folder on github and link to it in the markdown or in the *More Information* section

[2020-04-27 17:16] ajkeith commented on #19
If you'd like to change the plot labels to reduce the manual work of relabeling, I think there wouldn't be any disagreement. The plotting functions are at https://github.com/CHAD-Analytics/CHAD/blob/master/covid19/www/4_load_functions/PlotOverlay.R and https://github.com/CHAD-Analytics/CHAD/blob/master/covid19/www/4_load_functions/PlotOverlay2.R.

On your recommendation, I'll close the issue, but

[2020-04-27 17:16] #19 closed, assigned to nobody

[2020-04-27 17:31] acady14 commented on #22
could you add me as a contributor so I can make a new branch with the modified .md file?

[2020-04-27 17:33] acady14 commented on #22
thanks!

[2020-04-27 17:34] tleonard6 commented on #22
Just sent you an invite

On Mon, Apr 27, 2020 at 1:32 PM acady14 <notifications@github.com> wrote:

[2020-04-27 18:58] acady14 commented on #22
I'm still having issues with permissions -- I've attached the updated file below if one of you guys wants to add it in and make the commit.  Not sure why, but it is still giving me a 403 error when I try to push the new branch.  (change file extension to .md)
[AMC_Desc.txt](https://github.com/CHAD-Analytics/CHAD/files/4541542/AMC_Desc.txt)

[2020-04-27 19:00] galarcon0308 commented on #22
No worries, I got you.

[2020-04-27 20:03] mattburzenski commented on #6
![image](https://user-images.githubusercontent.com/63305329/80415249-427f3800-88a0-11ea-9ffa-c85025675506.png)

Reworked the presentation a bit (legend on the bottom so the width isn't shrunken) and fixed the y-axis, color, and size to all be absolute scaling instead of R's default relative scaling.

I haven't tried merging to the repo, but I did work this code using Maj Freels' new code structure

[2020-04-27 20:07] mattburzenski commented on #6
The CDC is using a week-by-week comparison for their growth rate, which might be easier to digest than this chart. Essentially for the CDC chart, if the point is above the x-axis there have been more cases in the last week than there were in the previous week, and "negative growth" if the point is below the x-axis.

I already have the code implemented in R to make those calculations, so if we want

[2020-04-27 20:20] galarcon0308 commented on #6
Awesome! Yeah I think if you can, we should change to the week by week look that the CDC is using. That's in line also with the national summary tab which has average cases on a weekly average. Nice job @courtneylknoth and @mattburzenski !

[2020-04-27 20:22] mattburzenski commented on #13
Any interest in using a 3 day rolling average for the daily case counts? That's what the CDC uses and it looks a lot cleaner and less noisy than CHAD's current daily case count graph.

[2020-04-27 20:31] galarcon0308 commented on #13
Yeah I've been thinking about this for a minute. The inconsistent reporting creates lots of unnecessary noise. I think a 3 day average would be good or a weekly growth average. I we may still need to have the daily chart there solely because I anticipate people requesting the continued need to see daily reported case numbers.

One thing that might show more and save space is to create a tabbed box

[2020-04-28 00:06] himey97 commented on #17
Switching to the new data source (JHU) fixed the missing data issues

[2020-04-28 01:38] ajkeith commented on #17
Great to hear! Thanks

[2020-04-28 12:29] courtneylknoth commented on #7
I agree, rintrojs looks like a great way to make a first tab with overview information, etc.

[2020-04-28 12:34] courtneylknoth commented on #7
Everything in www/6_load_info_docs should be on the tab as a minimum

[2020-04-28 12:35] mattburzenski commented on #6
![image](https://user-images.githubusercontent.com/63305329/80487733-4310e080-892b-11ea-8f87-9550bed0f182.png)

[2020-04-28 12:41] mattburzenski commented on #6
Here's what the chart for weekly % change in cases looks like.

I know Dr Giddings was looking to somehow label the graph so it made it easier for the user to digest. She recommended a shaded region for high/low growth areas. Maybe I could do a blue shading below 0% growth and red shading above 50,75, or 100% growth? With a really low alpha value so it doesn't make the points hard to distinguish

[2020-04-28 12:54] ajkeith commented on #6
@mattburzenski looking good! Can we be a little more explicit with the deaths label? I think it's Cumulative Deaths right?

The shading sounds good too

[2020-04-28 13:15] ajkeith commented on #7
@courtneylknoth it sounds like you're working this so I went ahead and assigned it you (feel free to change if needed)

[2020-04-28 13:27] ajkeith commented on #4
@courtneylknoth can I assign this issue for you for after #7?

[2020-04-28 13:37] mattburzenski commented on #6
The region shading is proving more difficult than expected...

[2020-04-28 13:44] ajkeith commented on #6
Okay let's skip it and get the 80% solution pushed up to the branch

[2020-04-28 14:24] tleonard6 opened #24 "Columbia University date download issue"
The current setup for downloading Columbia University data where it checks the date was functioning properly unless the recorded date was backdated enough. Right now the date is hard coded for the most recent file date.  Maybe there's a way around this...maybe not.  If we need to change it manually regularly, we can.

[2020-04-28 14:36] Auburngrads commented on #7
Not sure that another tab is needed.

rintrojs creates an overlay that highlights features of the app so that you don't need a dedicated tabPanel that contains this information.

Neither option is better, just two layout choices

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Andrew Keith <notifications@github.com>
Sent: Tuesday, April 28, 2020 9:15:45 AM
To

[2020-04-28 14:41] courtneylknoth commented on #7
I'm working to move the 'More Information' tab right before the MAJCOM Summary tab.  I like the way it's currently organized and feel that it will be better noticed at this location.  Thoughts?

[2020-04-28 14:51] Auburngrads commented on #7
Sure that's great.

It definitely puts the info about the app right up front. Probably need to have the "front page" organized by tabs so the viewer understands what they'll see when they go there.

The big issue with this layout choice is making sure that the front page is kept current with all subsequent *viewer facing* app changes

Get Outlook for Android<https://aka.ms/ghei36>

_______________

[2020-04-28 15:18] ajkeith commented on #13
@jeff-henderson @tleonard6 are these the SG asks?

[2020-04-28 15:22] tleonard6 commented on #13
@ajkeith This is the closest SG ask

Current Local Health Tab:  Add a Weekly rate of change in case count (graph of how the growth in cases is changing over time).

Weekly rate of change in case count (graph of how the growth in cases is changing over time).

Rationale/Intent:  Would like to see if the speed of the case increase is slowing down over time

[2020-04-28 15:43] mattburzenski opened #25 "COVID Testing Priority"
Hey y'all, I noticed COVID Testing is high on the CHAD development priorities (Tier 1). Is anybody currently working this?

I'm pretty familiar with COVID testing data and am happy to help out however possible.

[2020-04-28 16:31] tleonard6 opened #26 "Historical Date Pull"
The historical data is off by one to two days depending on the plots.  I believe it has to do with how/when we're pulling information from the source website.  The csv's in the data_files folder have the most current info being 4/26 and the csv at the actual source has current info up to 4/27.

[2020-04-28 17:12] courtneylknoth commented on #4
Working this issue now!

[2020-04-28 20:03] Auburngrads commented on #24
Created a new branch `columbia_data_dynamic_path` that contains a new function `get.shaman.lab.path()`.  The function web-scrapes the shaman-lab repo folders and identifies the 'Projection_XXX' folder with the most recent date in the title.

<h1>🚨 THE BIGGER ISSUE 🚨</h1>
I had to rearrange the steps that were performed in global.R 🙅 because <b><u>the functions should be loaded after the packages a

[2020-04-28 20:09] #6 closed, assigned to Sleekery, tleonard6, mattburzenski

[2020-04-29 13:13] ajkeith commented on #4
Re @courtneylknoth: changing to ggplot would be okay but losing the interactivity would be less than ideal. There are so many dots that the interactivity helps for checking individual installations without labeling all of them. @Sleekery do you have any ideas on how to fix these legends for plotly (I'm pretty sure it should have the same capabilities as python plotly, it should just be a different

[2020-04-29 13:48] Sleekery commented on #4
I've barely used plotly, but it isn't easy to make a size scale legend? I imagine you can have a second legend showing size. If it's difficult to create a proper legend, what I do on matplotlib create new dots off screen and have them be the points creating the legend.

[2020-04-29 13:53] courtneylknoth commented on #4
I'm asking Dominic about this question right now since he has experience with plotly R from C3RAF.

[2020-04-29 16:15] mattburzenski commented on #13
![image](https://user-images.githubusercontent.com/63305329/80619468-bc373300-8a12-11ea-825c-72efc8240936.png)
Hey guys, let me know what you think of the draft plot above. The data points are 3 day moving averages for case count. The growth rate is calculated by comparing the moving average of the last 7 days to the moving average of the last 14 days. >10% change is high growth, -10% - 10% is sta

[2020-04-29 16:24] tleonard6 commented on #13
@mattburzenski I think this is really good.  I believe that it captures what they're looking for

[2020-04-29 17:53] courtneylknoth commented on #4
With Dominic's help, we got the colors fixed.  Still working the sizes

[2020-04-30 17:12] ajkeith opened #28 "Display RIVAL as a new tab"
**Describe the solution you'd like**
Develop a new tab for Lt Col Crivellaro's risk vulnerability tool (RIVAL) as a separate tab.

**Describe alternatives you've considered**
We've discussed hosting RIVAL next to ORM but the consensus was that RIVAL fits better with the CHAD collection of tools.

An intermediate option is to link to or display a pdf.

**Additional context**
Current RIVAL is availa

[2020-04-30 17:19] tleonard6 commented on #28
@ajkeith are we allowed to integrate on the Public site?

[2020-04-30 17:30] ajkeith commented on #28
as far as I understand, the current version is all open source

[2020-04-30 18:24] JCCriv76 commented on #28
RIVAL is open source and the PDF it outputs (manually) is small. The RIVAL excel workbook is 40+ MBs.

[2020-04-30 19:40] courtneylknoth commented on #4
The colors and sizes are working.  What do you think of this?
![image](https://user-images.githubusercontent.com/22075623/80752037-de0ae580-8af8-11ea-9e7c-6bb7d09aa687.png)

[2020-04-30 19:50] ajkeith commented on #4
That looks great!

[2020-04-30 20:15] SlicedBadge commented on #10
I have been working on this off and on over at https://github.com/SlicedBadge/covid-19 (realtime_rt.py has all the code). One issue with this approach at the county level is that a lot of counties don't have many new cases each day. This results in a few derivative issues that I have had to work around:
1) The prep stage of the code includes cutting off data when the infection is below a certain c

[2020-04-30 20:39] tleonard6 commented on #24
@Auburngrads That all makes sense and I took the new arrangement and have been using it on my personal branch.  Everything works great.  Still one issue, whenever I try to deploy to my test app I get the following error on R Shiny

![image](https://user-images.githubusercontent.com/29178867/80756650-ecf59600-8b00-11ea-9285-32b53dc94cb8.png)

So it's something related to the LANL import.  The weird

[2020-04-30 20:54] Auburngrads commented on #24
Is this function defined on your personal branch?

Have you tried restarting R on your machine to verify that you don't have an object named `LANL_file_name1` floating around that gives you a false positive when it works locally?

[2020-05-01 03:23] tleonard6 commented on #24
I was able to figure it out.  Restarting helped me trace it.  Thank you

[2020-05-01 03:23] #24 closed, assigned to Auburngrads

[2020-05-01 15:47] tleonard6 opened #30 "MAJCOM Summary Tab issue on Hospitalizations/ACC/Today"
Heatmap has an error for this specific instance.

[2020-05-01 17:01] courtneylknoth commented on #7
![image](https://user-images.githubusercontent.com/22075623/80824140-d5271c00-8bab-11ea-8ab8-5c49800ad51d.png)

[2020-05-01 17:11] #4 closed, assigned to courtneylknoth

[2020-05-03 03:22] tleonard6 commented on #28
@JCCriv76 I don't think it's overly difficult to set RIVAL up as a tab and automate it.  Would you be able to draw a rough flow chart of what excel tab you start on and flow through to get to your final export table?

[2020-05-05 03:29] galarcon0308 commented on #26
Changed case and death to the old way of downloading, by just pulling straight from the github of the sources. Since the global file only runs once (when Shiny server starts), this shouldn't be a huge time consumption since when users connect to the website only the server function runs.

Also the daily chart was off by a day, that has been fixed.

[2020-05-05 03:29] #26 closed, assigned to galarcon0308

[2020-05-05 03:31] #22 closed, assigned to LukeBrantley

[2020-05-05 03:34] galarcon0308 commented on #15
Overseas data running on test server for current local health tab and national summary. Still need map visualization for bases but not a high priority. Will close when projection models get integrated.

[2020-05-05 13:12] courtneylknoth commented on #28
I'm currently working this issue.

[2020-05-05 15:50] JCCriv76 commented on #28
Courtney, let me know if you still need a flow chart and/or if you'd like to chat about RIVAL.

[2020-05-05 17:38] ajkeith commented on #26
@ltcarendt sir, please let us know if this causes any problems on the VAULT instance

[2020-05-05 20:16] courtneylknoth commented on #28
Lt Col Crivellaro - I have a copy of your spreadsheet and white paper.  Right now I have a blank tab in CHAD for RIVAL.  What information would you like on the tab?  Perhaps we can have a conversation tomorrow to discuss.

[2020-05-05 23:10] JCCriv76 commented on #28
I'm available all day tomorrow. Do you want to meet on MS Teams?  Send me an invite with the time and we'll discuss. Thanks for taking this on!

[2020-05-06 00:43] ltcarendt commented on #26
@ajkeith Yes, caused some problems; back to old behavior of several 502 server errors and requiring multiple reloads before dashboard successfully loads to make the data "current".
The data loads really slow on the VAULT platform.
I'm gonna try to create a cron job on the VAULT platform to run the global.R script at 0600 and 1800 every day and see if that prevents the 502 error.

[2020-05-06 01:09] ltcarendt commented on #26
No joy; pre-running global.R has no effect; still encounters multiple 502 errors and require multiple re-loads before successfully loading the dashboard

[2020-05-06 12:11] courtneylknoth commented on #28
I just set up a MS Teams meeting at 1300 with you and Maj Leonard.  Feel free to invite others

[2020-05-06 12:23] JCCriv76 commented on #28
Great! I've uploaded an updated excel file to APAN. The first three sheets of the workbook are what should be shown within a CHAD tab (USAFR & Active Duty, ANG, and Core Missions). I also added a 14-Day Trajectory column to depict each installation's progress towards meeting WH reopening guidelines (it's only for reference, it's not calculated within the dataset).

[2020-05-06 12:30] courtneylknoth commented on #28
Thanks, I'll take a look.  Also, I'm pushing the meeting to 1400.  Let me know if that is a problem for you.

[2020-05-06 12:45] tleonard6 opened #31 "SG Requests"
Current open SG requests

- [x]   Current Local Health Tab, Local County Statistics:  Add 1, 3, 5, 7 and 14 day case increase rates

Request: 1, 3, 5, 7 and 14 day case increase rates.
Rationale/Intent:  provides better picture of the trend (trending up or trending down)

- [x]  Current Local Health Tab:  Add a Weekly rate of change in case count (graph of how the growth in cases is changing over

[2020-05-06 12:49] courtneylknoth commented on #28
I just logged on to APAN and don't have any files in the COVID folder.  I was able to get the spreadsheet from Taylor though.  Did you make recent updates?

[2020-05-06 13:06] tleonard6 opened #33 "IHME Data Download issue"
IHME added a dated folder and an extra csv file to their zipfile.  Need to modify the vroom function to account for the folder and extra file.

[2020-05-07 07:06] galarcon0308 commented on #31
This has been completed.

[2020-05-07 13:16] ajkeith commented on #10
From Tom Himes: Just throw this out there as a CHAD feature we'd like to see.   Selecting the radius around the base, produce a graph of Rt at the local level as currently presented at the state level here:  url = rt.live

[2020-05-07 17:46] messer06 opened #34 "Summing Per Capita numbers"
**Describe the bug**
There's direct sums of per capita numbers going on. Problem is with small and large counties. Imagine two counties, one is 2 cases with 10 people and the other is 2 cases with 1,000. Directly, sum would give ~0.2 cases pp verses true ~0.004.

**To Reproduce**
anywhere sum(new_cases_pp) is being used in an aggregate

**Expected behavior**
Need to correct to sum(cases)/sum(popul

[2020-05-08 02:26] galarcon0308 commented on #31
Thinking about this more, #2 I don't think adds much value. If the goal is to see speed of case increase/decrease over time, that I believe is being accomplished by the daily case chart, and smoothed out to look better with the daily chart using 3-day moving averages. This gives you velocity of cases. The 14-day one I made doesn't illuminate much so I can going to remove it. If I do a weekly one (

[2020-05-08 14:36] messer06 commented on #34
Merge #35 fixed

[2020-05-08 14:36] #34 closed, assigned to messer06

[2020-05-08 16:57] weirj1 commented on #20
This has been completed.  I have pushed my code to the branch called plotClick.  I am not that familiar with GIt Hub., what else do I need to do?

[2020-05-08 17:23] weirj1 commented on #20
okay, plan B need to go back and redo work based on new version of CHAD.  More to follow.

[2020-05-14 23:14] tleonard6 commented on #20
@weirj1 would you mind checking the current code to see if it’s working properly?

[2020-05-14 23:24] weirj1 commented on #20
Is it in the master?

On Thu, May 14, 2020, 7:14 PM Taylor Leonard <notifications@github.com>
wrote:

[2020-05-14 23:26] tleonard6 commented on #20
Yes, master should have everyone’s edits

[2020-05-14 23:30] weirj1 commented on #20
Ok ill take a look tomorrow

[2020-05-14 23:43] weirj1 commented on #20
The counties are displaying correctly in version 0.9.5 (published) but can't select.  Looked at Master ad all the code is commented out.  Tomorrow I will look at the code and get it working on the current master and let you know.

[2020-05-15 13:06] ajkeith opened #38 "Operational Status dropdown "All" not populating"
**Describe the bug**
Current Local Health Base Selector dropdown:   ALL does not populate,  must select AD, Guard, or Res

**Additional context**
Posted by @himey97 in mm.

[2020-05-15 13:07] ajkeith commented on #18
Have not received further input on this suggestion and the current behavior is in-line with DoD and the interagency. I'll close this until it comes up again.

[2020-05-15 13:07] #18 closed, assigned to ajkeith, tleonard6

[2020-05-15 13:57] tleonard6 commented on #38
@himey97 We removed "All" because it was effecting the other drop downs.  If we can get it to work smoothly, we'll put it back up, if not, then it will have to stay out.

[2020-05-15 13:57] #38 closed, assigned to nobody

[2020-05-18 17:02] dominic-babbini opened #39 "National Summary Charts should have color slider label."
The map chart on the National Summary tab has a color coded slider but the numbers there are not explained. The slider should have a text label stating the meaning. It seems to be an arbitrary relative scale based on new confirmed cases. This could either be labeled as relative scale of new cases or rescaled to the actual number of cases.

Scale depicted below:
![image](https://user-images.githubu

[2020-05-18 17:50] dominic-babbini opened #40 "Local Health Projections Tab Not Populating"
The Local Health Projections tab is not populating the graphs. It has intermittently populated but often displays this error:
Error: An error has occurred. Check your logs or contact the app author for clarification.

[2020-05-18 21:41] jane-stoner opened #41 "National Summary tab-COVID-19 Health Assessment Dashboard Beta v0.9.7"
National Summary tab - map
- [x] Go to the state of Georgia in the US and hover.  It shows 701 cases.  If you go to the table below and look at GA, it shows 34,006 (data is as 1730, 18 May 2020).  I think it is somehow linking to the country of Georgia and not the US state of Georgia.
- [x] Is there a way that when you pick US that you only see US state data rather than the world?  Europe, the sam

[2020-05-19 01:12] galarcon0308 commented on #41
Thanks for the feedback! We can keep this all in one issue. I will just post here when each piece is complete.

[2020-05-19 01:13] galarcon0308 commented on #30
Fixed in version 0.9.5, divide by zero error was happening for certain cases and throwing NAs.

[2020-05-19 01:13] #30 closed, assigned to tleonard6

[2020-05-19 11:12] ajkeith commented on #41
@jane-stoner thanks for including such specific details in your issue! That helps a lot!

[2020-05-19 15:43] galarcon0308 commented on #41
The column header freezing is being a little more trickier than I thought but the other parts have been updated and are present in the main version

[2020-05-19 15:45] galarcon0308 commented on #39
Slider has been hid for the moment until we can figure out in the gvis package how to control the legend. Plot color is based off a log scale to show a more dynamic range and not be controlled by outliers like NY. Unfortunately it then displays with the log scale on the legend.

[2020-05-19 15:49] galarcon0308 commented on #40
There is issue with some of the overseas locations. Error checking is being put in to at least not show the error message and display something else. If you come across any CONUS locations that have an issue, feel free to update this issue with the base and models selected, and we can look at those particularly. Thanks!

Currently I know **JB Anacostia** has an issue.

[2020-05-19 16:14] jane-stoner commented on #41
No worries about header freezing - just a nice to have.  Thanks for the other 2!  ajkeith-glad I could help!

[2020-05-19 18:12] ajkeith commented on #41
Removed bug label since the last remaining checklist item is an enhancement.

[2020-05-20 00:44] jane-stoner opened #42 "Not a bug but a typo"
Hi.  Hate to complain but my OCD isn't having it.  Do you think when you do the next update that you could change the spelling to  "Current Updates" on the top right corner of the dashboard next to More Information?  The "d" in Update is missing.  Thanks!

[2020-05-20 00:45] tleonard6 commented on #42
It will be done, thank you. Coming in update this evening.

[2020-05-20 00:50] #42 closed, assigned to nobody

[2020-05-20 12:33] tleonard6 opened #43 "Incorrect Coordinates/Counties for Installations"
- [x]  Eglin AFB is pulling the wrong counties.  Either there is a wrong lat/long or wrong installation county

- [x]  MCAS Miramar, under marine corps, active duty.  location says san francisco, should be san diego

- [x]  AF Plant 42, wrong lat/long, correct county

[2020-05-20 12:39] tleonard6 opened #44 "OCONUS Filtering Option"
Think about adding OCONUS/CONUS filter for the local health current and projections tabs

[2020-05-20 14:06] galarcon0308 commented on #43
Changed to check marking completed ones.

[2020-05-20 15:05] galarcon0308 commented on #41
Instead of a fixed header, we reduced the table size to 15 per page. And the user can click through table pages instead of scrolling through the long list.

[2020-05-20 15:05] #41 closed, assigned to galarcon0308

[2020-05-20 15:53] jane-stoner commented on #41
Thanks!  I’m sure that will work!

Jane W. Stoner

Operations Research Analyst

HQ AFRC/A9A

Robins AFB, GA

 <mailto:jane.stoner@us.af.mil> jane.stoner@us.af.mil

 <mailto:jane.w.stoner.civ@mail.smil.mil> jane.w.stoner.civ@mail.smil.mil

Comm: 478-327-2242

DSN 312-497-2242

Cell Phone:  478-952-5176

From: galarcon0308 <notifications@github.com>
Sent: Wednesday, May 20, 2020 11:05 AM
To: CHAD-An

[2020-05-20 18:28] galarcon0308 commented on #31
I added a chart based on weekly case counts every Monday, starting when an area has over 30 total cases. Hopefully to filter out the starting 4000% increases.

[2020-05-20 18:28] #31 closed, assigned to galarcon0308

[2020-05-20 18:35] galarcon0308 commented on #44
Added a new column to base sheet called "Overseas". Has CONUS and OCONUS tags in the column. Already filled out, would just need the filter added now.

[2020-05-20 18:40] galarcon0308 commented on #28
Closing this for now as this is on hold. Can be reopened later.

[2020-05-20 18:40] #28 closed, assigned to courtneylknoth

[2020-05-20 18:40] galarcon0308 commented on #14
Issue has been fixed since master base sheet was created.

[2020-05-20 18:40] #14 closed, assigned to nobody

[2020-05-20 18:44] galarcon0308 commented on #1
On the first one, we can change hospital bed column to cumulative cases when "cases" is selected on the sidebar

[2020-05-20 18:45] galarcon0308 commented on #2
This is completed

[2020-05-20 18:45] #2 closed, assigned to tleonard6

[2020-05-20 18:49] tleonard6 commented on #1
Sorry, I did this awhile ago and forgot to close.  When selecting cases, I added the Total case column.  The cases datatable is one column larger than the hospitalizations datatable.

[2020-05-20 18:49] #1 closed, assigned to nobody

[2020-05-20 18:50] galarcon0308 commented on #5
This has been fixed. Issue involved division by 0 in certain instances.

[2020-05-20 18:50] #5 closed, assigned to SpencerButt

[2020-05-20 18:53] tleonard6 opened #45 "Tab 2 Feature Requests"
On Tab 2

1.  Change the scale to cases/100,000 instead of cases
2.  Look into if we can display multiple values when hovering over country/region

[2020-05-20 18:55] tleonard6 commented on #15
Closing.  OCONUS projections are in progress, will be completed soon

[2020-05-20 18:55] #15 closed, assigned to tleonard6, galarcon0308

[2020-05-20 18:55] #12 closed, assigned to tleonard6

[2020-05-20 19:00] galarcon0308 commented on #45
This for just the county plot? or for the value box also that says cases per 1000. Can def display multiple values on hovering tooltip using plotly. Which things were you thinking?

[2020-05-20 19:08] galarcon0308 opened #46 "MAJCOM Summary Tab: Choropleth map possible incorrect math"
Need a validation/through look at the math for the over/under 5% population. I have an inkling something is off.

[2020-05-20 19:09] galarcon0308 opened #47 "Update Input/Calc documentation"
- [x] Update user input file.

- [x] Update calculation file

[2020-05-20 21:23] tleonard6 commented on #45
By Tab 3, I meant tab 2, hopefully that makes more sense

[2020-05-21 00:21] tleonard6 commented on #46
I'll take a look through as well

[2020-05-22 17:02] weirj1 commented on #20
fix pushed to selectCounties branch

[2020-05-22 17:02] #20 closed, assigned to weirj1

[2020-05-23 14:16] tleonard6 opened #48 "CovidCounties Count issue"
@inferno298 Thank you for checking out the FIPS alignment!  Question, did the program run through for you?  I get stuck at line 130 in the file extra_code.r  during the covidcounties counting if statement.  Take a look and let me know what you think.  It's an issue with when the covidcounties row count is equal to zero, it can't generate the sequence.

[2020-05-28 15:45] novaktroy opened #49 "Minot data anomaly"
**Describe the bug**
A clear and concise description of what the bug is.
MINOT AFB DATA IS INCORRECT DO TO A CHANGE IN STATE FIGURES
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...' "CURRENT LOCAL HEALTH"
2. Click on '....' "SELECT MINOT AFB
3. Scroll down to '....' "DAILY NEW CASES CHART"
4. See error "SEE SPIKE on ~5/19/2020"

**Additional context**
Add any other context about th

[2020-05-29 03:55] galarcon0308 commented on #7
It took awhile for us to get to this but thanks @courtneylknoth for providing the foundation code for this! Was able to adapt it, and implement very easily.

[2020-05-29 03:55] #7 closed, assigned to courtneylknoth

[2020-05-29 03:58] galarcon0308 commented on #49
Thanks for alerting us to this. All of our data is sourced from JHU as referenced in the sources section. We will look into if they have done any updates or are tracking on the state reporting changes. They were very responsive when NYC changed their reporting and had a one day spike also.

[2020-05-29 03:58] #48 closed, assigned to nobody

[2020-05-29 03:59] #47 closed, assigned to galarcon0308

[2020-05-29 03:59] #45 closed, assigned to nobody

[2020-05-29 04:00] #44 closed, assigned to nobody

[2020-05-29 04:00] galarcon0308 commented on #44
Completed

[2020-05-29 04:00] galarcon0308 commented on #45
Completed

[2020-05-29 04:00] #43 closed, assigned to galarcon0308

[2020-05-29 04:08] galarcon0308 commented on #25
Yeah we def want to get this in. Currently looking (for both CHAD versions) adding a ratio of tests administered to confirmed cases. Installations are starting to think of a multiplier that indicates that their local region is doing enough tests, which is looking to be 100:1 (so 100 tests per confirmed case). The site we get the global data also has a sheet with the total test. Just need to calcul

[2020-05-29 04:09] #16 closed, assigned to tleonard6

[2020-05-29 04:55] #40 closed, assigned to nobody

[2020-06-04 03:32] tleonard6 opened #50 "Faster Load Times"
From the higher ups

"I always have to load, stop it, then reload to get it to load."

Do the settings on the server need to be modified to account for traffic or something of that nature?

[2020-06-04 12:56] galarcon0308 commented on #50
I modified the settings at the start for this but might need some more tweaking. I'll look at a couple things.

[2020-06-04 12:59] galarcon0308 commented on #50
Increasing the idle instance timeout might help but requires a server restart so I'll try that during not peak usage times

[2020-06-18 14:40] ajkeith opened #51 "New projection model"
@PriyaRutgers, thanks for joining the team! I'm making this issue so we have a place to discuss any roadblocks.

[2020-06-18 14:42] ajkeith commented on #51
This is where load model data: https://github.com/CHAD-Analytics/CHAD/tree/master/covid19/www/4_load_external_data.

This is where we build the interface: https://gitlab.devforce.disa.mil/A9-ADV/chad/-/blob/integration/CHAD/covid19/ui.R.

[2020-06-23 15:48] dominic-babbini opened #52 "Add FOUO CHAD link to overview tab"
Would like to add a link to the FOUO CHAD on the overview page with a blurb (perhaps in a new section under Other Agency Resources or as a new sub page)

Blurb could state:
"Additional installation-specific information such as current HPCON status, travel guidance metrics, HPCON decision support, and operational risk considerations can be accessed on the CHAD FOUO site.

https://cprobe.army.mil/rs

[2020-06-23 20:40] levilott commented on #33
Hey guys this might help. I just tried it and it works on my end. Pulls the most recent IHME Projected data.

#Store URL for most recent IHME Zip File
url <-"https://ihmecovid19storage.blob.core.windows.net/latest/ihme-covid19.zip"

#Create 2 temp files
temp <- tempfile()
temp2 <- tempfile()

#Download the zip file and unzip
download.file(url, temp)
unzip(zipfile = temp, exdir = temp2)

#Defnie pa

[2020-06-24 03:04] tleonard6 commented on #33
This worked great!  Thank you!

[2020-06-24 03:04] #33 closed, assigned to nobody

[2020-06-25 14:53] tleonard6 commented on #52
Added and deployed to most current public site

[2020-06-25 14:53] #52 closed, assigned to nobody

[2020-06-29 03:49] PriyaRutgers commented on #51
I went through the interface thoroughly, spotted few maps overlapped with tables, and few such UI issues. Also for certain locations the lower, upper bounds and other info for the prediction models is not displayed. Also the updated IHME models have incorporated the interventions ( relaxing stay at home orders, mask mandates etc. as states have started to reopen), do you suggest updating the model

[2020-06-29 04:16] tleonard6 commented on #51
Are you working from the Master?  If so, then please feel free to jump on
any fixes or errors.  Also, updated the IHME model would be great.  Do you
have a summary of the mode that you had been working on previously?

Thank you!

On Sun, Jun 28, 2020 at 11:49 PM Debopriya Ghosh, PhD <
notifications@github.com> wrote:

[2020-06-29 04:58] PriyaRutgers commented on #51
Sure I can start with fixing those.  I was referring to the ARGO Models  (reference below)-
https://www.nature.com/articles/s41467-018-08082-0.pdf
https://www.pnas.org/content/112/47/14473

For our model, we are using the world meter data instead of CDC data because of the lag in CDC reporting. And for exogenous variables we are incorporating lot of big data -- twitter feeds (maintained by Johns H

[2020-07-01 03:02] levilott opened #53 "Automate LANL Date"
Good evening Maj Leonard,

Apologies as I'm still getting the hang of navigating github and this could probably be a pull request rather than an issue but I did not understand how to create an appropriate pull request.

I'd like to offer the code at the bottom of this message that could automatically pull the most recent Date for LANL updates rather than it being explicitly defined.

Please let me

[2020-07-02 01:15] levilott opened #54 "IHME Georgia Duplicates"
FYSA: New IHME Reference_hospitalization_all_locs file has two entries for all dates for Georgia. Not sure if this is mistake on their part or if they went back and added the country of Georgia. I'll keep folks updated if I figure out an effective way to distinguish between them. One of the subsets has mostly "0" observations in predictions.

Also I had to update the file name when pulling the new

[2020-07-02 01:22] galarcon0308 commented on #54
Thanks a lot! I suspected they messed up the country and state. I meant to look through our code too, because I suspect the mistake could be on my end also. I already made a similar mistake once.

[2020-07-02 01:26] galarcon0308 commented on #53
I'll give this a try tonight and throw it in. Thanks for looking at this! Pulling those pesky files with changing file names was always an annoyance to us. Much appreciated!

[2020-07-02 01:38] galarcon0308 commented on #3
Having the estimated capacity from Torch gives a solution to this. Two lines now

[2020-07-02 01:38] #3 closed, assigned to SpencerButt

[2020-07-02 01:40] galarcon0308 commented on #10
Closing this one as it won't be a feature we look to include. There are more direct metrics measuring the spread of the virus, namely  just looking at acceleration and velocity of the cases.

[2020-07-02 01:40] #10 closed, assigned to SlicedBadge

[2020-07-02 01:59] galarcon0308 commented on #13
Most of these items have been incorporated.

[2020-07-02 01:59] #13 closed, assigned to nobody

[2020-07-02 02:01] galarcon0308 commented on #25
This has been incorporated, separate issue exist with the JHU data and changing file names. Need a better way to pull it.

[2020-07-02 02:01] #25 closed, assigned to nobody

[2020-07-02 02:02] galarcon0308 commented on #39
This will require a change in mapping packages. This is not being pursued at the moment. If the situation changes, I'll reopen and change the mapping package.

[2020-07-02 02:02] #39 closed, assigned to galarcon0308

[2020-07-02 02:03] galarcon0308 commented on #46
Map is getting removed in favor of adding small tables to show installations at risk by different criteria.

[2020-07-02 02:03] #46 closed, assigned to galarcon0308

[2020-07-02 02:06] galarcon0308 commented on #50
Waking the server from sleeping requires the app to go through the startup process for that instance. Decreasing the load on startup will fix this. The all base table in MAJCOM summary is going to be swapped for a similar table with COVID metrics instead of projection information. Testing has shown a large decrease in startup time.

[2020-07-02 02:06] #50 closed, assigned to nobody

[2020-07-02 02:11] galarcon0308 commented on #49
JHU and USAFacts still seem to be showing the spike, albeit in perspective it isn't a large spike. We will continue relying on JHU data and leave the fixes to them, but keep note of the anomaly. Thanks again!

[2020-07-02 02:11] #49 closed, assigned to nobody

[2020-07-02 02:18] galarcon0308 opened #55 "Active Case from JHU download"
**Describe the bug**
this new add-in for active cases requires pulling a a new file with a different name every day. Current code uses previous date to pull file. This can cause an error and crash the server when they haven't updated towards the night and the file name is now 2 days old.

**Proposed Fix**
Either tryCatch statement to use 2 days back if one day back fails, and skip file entirely if

[2020-07-02 02:33] levilott commented on #54
Definitely don't think its a mistake on your end. I think they've just updated this file recently to include two "Georgia's". In the csv pulled directly from their zipfile I could filter to Georgia and always see two entries for each date. The first appearing Georgia remains "0" for most of the variables across time and at this point I'm operating under the assumption that these rows represent the

[2020-07-02 14:57] levilott commented on #55
I'm not sure if I'll be much help but I'm happy to try! Which code is the JHU code? I'm looking in covid19/www/4_load_external_data/ but I cant tell which file is specific to JHU.

[2020-07-02 15:48] galarcon0308 commented on #55
covid19/www/4_load_external_data/01_StateInfo.R

Its at line 25 where it is all commented out. Normally there is a curdate <- Sys.Date() - 1 there which sometimes needs to be 2 if its late in the day. The hope is to pull the latest no matter the time of the day without having to guess the proper date.

Thanks for the help man! No worries if you can't, but always appreciate the extra hand!

[2020-07-02 17:40] levilott commented on #55
The code below will go to the github folder and pull the most recent date from the file extensions and add that date to the raw extension. This should eliminate the need to rely on the SyS.Date() or "today's date". It should consistently automatically pull the most recent file available regardless of the time the code is executed.

Hope this helps! Let me know if I can jump on a call and trouble s

[2020-07-02 17:44] levilott commented on #55
The comment section broke the lines up on the code pieces a little differently and it doesnt seem like I can attach a .R file here. Is there another place that is easier to offer code updates? I'm still pretty new to using github.

[2020-07-02 18:27] galarcon0308 commented on #55
Nvm I couldn't do it, seems I don't know GitHub that well either haha. You can always make a branch and do a pull requests and we can merge the changes. Here is fine also

[2020-07-08 20:35] tleonard6 commented on #55
@levilott this worked great!  thank you for taking the time to figure this out!

[2020-07-08 20:35] #55 closed, assigned to nobody

[2020-07-08 20:36] tleonard6 commented on #53
@levilott you're a rockstar

[2020-07-08 20:36] #53 closed, assigned to nobody

[2020-07-15 18:57] levilott opened #56 "Scaling Methods"
**Is your feature request related to a problem? Please describe.**

Currently I think both CHAD and EXAIL are scaling state level projections to the county level by the % county population to the state: County_Projection = State_Projection * (County_Population / State_Population)

**Describe the solution you'd like**

I think an alternative method that could be more accurate would be to scale by %

[2020-07-16 04:11] tleonard6 commented on #56
@levilott i think this is a great idea.  We would be happy to put it in place in CHAD, possibly as a pair of option.

[2020-07-16 04:59] galarcon0308 commented on #56
Concur, the initial scaling method was a quick mock-up. Surprised it honestly lasted this long. But you make a great point. Cases per county gives a better look at covid probability by county, which will def be better. Excellent idea and thanks for posting!

[2020-07-16 18:34] levilott opened #57 "IHME Missing New Hampshire"
FYSA,

This source is missing all data for the state of New Hampshire as of 7/16/2020 1433 EST. https://ihmecovid19storage.blob.core.windows.net/latest/ihme-covid19.zip

Please reach out if you guys see that its back up!

[2020-07-16 18:44] levilott commented on #57
IHME has archived data here http://www.healthdata.org/covid/data-downloads

I'm pulling the July 7th link (data is actually July 4th). This has data for new hampshire. I'm pulling this data and appending to the most recent data for the rest of the states.

[2020-07-17 03:35] levilott commented on #56
Cool I appreciate the feedback! I hit some hiccups with IHME data that I had to tackle today but I'm getting back on this scaling method tomorrow and monday. Will update once complete!

[2020-07-20 20:18] levilott commented on #57
As of 1618 EST IHME appears to have restored the New Hampshire data

[2020-07-20 20:18] #57 closed, assigned to nobody

[2020-09-01 23:13] SeanMaday opened #58 "Production Instance Down"
It appears the production instance is down:
https://afit.shinyapps.io/covid19/

[2020-09-01 23:17] tleonard6 commented on #58
Hi Sean, thank you, will have it resolved this evening

On Tue, Sep 1, 2020 at 7:13 PM Sean Maday <notifications@github.com> wrote:

[2020-09-02 00:59] galarcon0308 commented on #58
It is up and running now. An intermittent server issue occurred. We'll keep this issue open for a couple days in case it happens again, and we need to address. Thanks for bringing it to our attention!

[2020-09-02 04:05] SeanMaday commented on #58
Confirmed! It is working from my end. Thank you!

[2020-09-02 04:05] #58 closed, assigned to nobody